<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

	<!-- 自动扫描 -->
	<context:annotation-config/>
	<!-- 加入定制化包实体路径com.deppon.mq -->
	<context:component-scan base-package="com.deppon.mq"/>	


    <import resource="classpath:metaq/consumer-mq-bean.xml"/>
   
<!-- 	<bean id="springUtils" class="com.deppon.cubc.commons.util.SpringBeanUtils"/> -->
	
</beans>